<%= render 'shared/header' %>
<div class="container-fuild">
  <div style="position: relative;display: inline-block;width:100%;">
  <div class="col-md-2">
  <br>
    <!-- left sidebar -->
    <%= render 'shared/leftsidebar' %>
  </div>
  <div class="col-md-7">
  <br>
  <!-- central area -->
    <div class="row">

    <div id='posts'>
    <%= render 'shared/post' %>
    </div>
  </div>
</div>

<div class="col-md-3">
<br>
<%= render 'shared/followtopic_form' %>
</div>
</div>
</div>