<% #TODO Move JS Code to new File  %>
<script type="text/javascript">
	window.onload = function(){
		
		g_globalObject2 = new JsDatePick({
			useMode:1,
			isStripped:false,
			target:"calander",
			cellColorScheme:"beige"
		});
		
		g_globalObject2.setOnSelectedDelegate(function(){
			var obj = g_globalObject2.getSelectedDay();
			var m = obj.month;
			var d = obj.day;
			if (obj.month < 10)
				m='0'+obj.month
			if (obj.day < 10)
				d='0'+obj.day
			console.log('/events/'+obj.year+'-'+m+'-'+d);
			$.get('/events/date/'+obj.year+'-'+m+'-'+d,function(e){
				$('#events').html('');

				for(a in e){
				var event = '<div class="panel-footer" data-event="'+e[a].id+'" style="background-color:#FFFFFF">\
   <h5 style="color:#005E8A">'+e[a].name+'</h5>\
   <h6>'+e[a].description+'</h6>\
   </div>';
   $('#events').append(event);
				}
				
			});
			console.log("a date was just selected and the date is : " + obj.day + "/" + obj.month + "/" + obj.year);
		});
		
	};

</script>
<div style="text-align:center;">
  <div>
    <button type="button" class="btn btn-primary" id="createevent" data-toggle='modal' data-target='#newevent'>
	<span class="glyphicon glyphicon-plus"></span>Create Event</button>
  </div>
  <div id="calander" style="margin:10px 0 10px 0; height:200px;width:235px;float:right">
  </div>
  <!-- Event List which opens when clicked some date in callender -->
  <div id="events">
  <!-- 	<div class="panel-footer" style="background-color:#FFFFFF">
   <h5 style="color:#005E8A">Event Name</h5>
   <h6> event description </h6>
    <button type="submit" class="btn btn-success btn-xs">Going</button>
	 <button type="submit" class="btn btn-danger btn-xs"> Not Going</button> 
   </div>  -->
   </div>
  
</div>
