<nav class="navbar navbar-default" role="navigation">
<div class="container">
<div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="/">DoubtSync</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <div class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" id="searchquery" class="form-control" placeholder="Search">
          <select id="searchtype" class="form-control">
            <option value="all">All</option>
            <option value="user">User</option>
            <option value="post">Posts</option>
            <option value="event">Events</option>
            <option value="internship">Internship</option>
            <option value="book">Books</option>
          </select>
        </div>

        <button type="button" class="btn btn-default" id="searchsubmit">Submit</button>
      </div>
      <ul class="nav navbar-nav navbar-right">
      <li><a id="messegebtn" data-toggle="popover" data-placement="bottom"><span class="glyphicon glyphicon-comment <%= "new" if current_user.unread_message.length > 0 %>"></span></a></li>
       <li><a  id="notification" data-toggle="popover" data-placement="bottom"><span class="glyphicon glyphicon-volume-up <%= "new" if current_user.notifications.count>0 %>"</span></a></li>
	    <li><a href="/main/feed#post" id='filterposts'>Posts</a></li>
		<li><a href="/main/feed#books" id='filterbooks'>Books</a></li>
		<li><a href="/main/feed#events" id='filterevents'>Events</a></li>
    <li style="position:absolute;right:0;"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      </ul>
    </div>
</div>
</nav>