<ul class="leftside" style="padding: 0;">
      <li>
        <a href="/users/<%= current_user.id%>"><button class="btn">My Profile</button></a>
      </li>
      <br>
      <li>
        <button id="addbook" class="btn" data-toggle='modal' data-target='#newbook'>Advertise a Book</button>
      </li>
      <br>
      <li>
        <a href="/exploretopic"><button class="btn">Explore Topics</button></a>
      </li>
      <% @topics = current_user.topics %>
      <% if @topics.count > 0 %>
      <li>
      <% @topics.each do |topic| %>
      <% topic.name %>
      <% end %>
      </li>
      <% end %>
      <% if current_user.role.name == 'professor' %>
      <br>
      <li>
        <button id="addinternship" class="btn" data-toggle='modal' data-target='#newinternship'>Create a Internship Opening</button>
      </li>
      <br>
      <li>
        <a href="/internships/list"><button id="availableinternships" class="btn">My Internship</button></a>
      </li>
      <% end %>  
      <% if current_user.role.name != 'professor' %>
      <br>
      <li>
        <a href="/internships"><button id="availableinternships" class="btn">Available Internship Opening</button></a>
      </li>
      <% end %>  
    </ul>