<ul class="leftside">
      <li>
        <a href="/users/<%= current_user.id%>"><button class="btn">My Profile</button></a>
      </li>
      <br>
      <li>
        <button id="addbook" class="btn" data-toggle='modal' data-target='#newbook'>Advertise a Book</button>
      </li>
      <% @topics = current_user.topics %>
      <% if @topics.count > 0 %>
      <li>
      <% @topics.each do |topic| %>
      <% topic.name %>
      <% end %>
      </li>
      <% end %>
      <% if current_user.role.name == 'professor' %>
      <br>
      <li>
        <button id="addinternship" class="btn" data-toggle='modal' data-target='#newinternship'>Create a Internship Opening</button>
      </li>
      <% end %>  
    </ul>