<style>
.leftside button{
  width: 100%;
  border-radius: 0px;
  background: #3498DB;
  color: #000;
  padding: 5px 0px;
}  
.leftside button:hover{
  background: #2980B9;
}

</style>

<ul class="leftside" style="padding: 0;">
      <li>
        <a href="/users/<%= current_user.id%>"><button class="btn">My Profile</button></a>
      </li>
      <br>
      <li>
        <button id="addbook" class="btn" data-toggle='modal' data-target='#newbook'>Advertise a Book</button>
      </li>
      <br>
      <li>
        <a href="/exploretopic"><button class="btn">Explore Topics</button></a>
      </li>
      <br>
      <% if current_user.role.name != 'professor' %>
      
      <li>
        <a href="/internships"><button id="availableinternships" class="btn">Available Internship Opening</button></a>
      </li>
      <% end %>  
      <% @topics = current_user.topics %>
      <% if @topics.count > 0 %>
  
      <li>
      <br>
      <li class="list-group-item active">My Topics</li>
      <ul class="list-group" style="max-height:300px;overflow-y:auto">
      <% @topics.each do |topic| %>
      <li class="list-group-item"><%= topic.name %></li>
      <% end %>
      </ul>
    
      </li>
      <% end %>
      <% if current_user.role.name == 'professor' %>
      <br>
      <li>
        <button id="addinternship" class="btn" data-toggle='modal' data-target='#newinternship'>Create a Internship Opening</button>
      </li>
      <br>
      <li>
        <a href="/internships/list"><button id="availableinternships" class="btn">My Internship</button></a>
      </li>
      <% end %>  
      
    </ul>