<html>
<header><title>DoubtSync</title></header>
<body style="float:right">
<% if !current_user.nil? %>
<%= current_user.username %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>

<% else %>
<a href="/register">Register</a>
<a href="/login">Login</a>
<% end %>
	<h2>Hello World <br>WIP <br>See You Soon</h2>
</body>
</html>